.cycles {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.cycleDots {
  display: flex;
  gap: 0.7rem;
}

.cycleDot {
  display: block;
  width: 2rem;
  height: 2rem;
  background: var(--primary);
  border-radius: 50%;
}

.workTime {
  background: var(--warning);
}

.shortBrakeTime {
  background: var(--primary);
}

.longBreakTime {
  background: var(--info);
}
